
/* ask Tor how to make fixed footer and background black w3 schools not working */ 
body {
  background-color: black;
    
}



#footer,
#headache {
  left: 0;
  bottom: 0;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  background-color: red;
  color: white;
  text-align: center;
  
}

#nav {
  color: black;
  background-color: whitesmoke;
  font-size: 80%;
  width: 100%;
  padding-right: 2vw;
  
}


#h1 {
  color: red;
}

h3 {
  color: white;
  padding: 0;
  position: absolute;
  bottom: 13vw;
  left 0;
}

.list {
  background-color: #D0D6B5;
}

/* these are ingredients, directions, and equipment */

#ingredients {
  background-color: #DBD3D8;

  width: 25%;
  float: left;
  border-radius: 5px;
  display: inline-block;

  
}

#equipment {
  background-color: #976391;

  width: 25%;
  float: left;
  border-radius: 5px;
  display: inline-block;

}

#directions {
  background-color: #7D5C65;

  width: 33%;
  float: left;
  border-radius: 5px;
  display: inline-block;

}

.img-fluid {
  height: 500px;
  width: 100%;
  display: block;
 
}


/* js for list dropdown */


div#column1.iClicked {
  height: auto;
}

div#column2.eClicked {
  height: auto;
}

div#column3.dClicked {
  height: auto;
}








 

/* for mobile */

@media screen and (max-width: 575px) {
  h4 {
    text-color: #B22222;
  }
  div {
    background-color: black;
  }
}

/* below is desktop screen */

@media screen and (min-width: 576px) {
  h1 {
    text-color: #F5F5DC;
  }
  h4 {
    color: black;
  }
}

@media (orientation: portrait) {
  div {
    width: 100vw;
  }
}

@media (orientation: landscape) {
  div {
    display: inline-block;
    float: left;
    width: calc(100vw/3 - 1vw);
    padding: 1vw;
  }
}